/*
 * Copyright The Zephyr Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f407Xg.dtsi>
#include <st/f4/stm32f407z(e-g)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/dma/stm32_dma.h>
/ {
	model = "stm32f407_rt_spark board";
	compatible = "ruiside,stm32f407-rt-spark";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,ccm = &ccm0;
	};

	leds {
		compatible = "gpio-leds";

		red_led: led_1 {
			gpios = <&gpiof 12 GPIO_ACTIVE_LOW>;
			label = "User LD1";
		};

		blue_led: led_2 {
			gpios = <&gpiof 11 GPIO_ACTIVE_LOW>;
			label = "User LD2";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		user_button_0: K0 {
			label = "Key K0";
			gpios = <&gpiob 9 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};

		user_button_1: K1 {
			label = "Key K1";
			gpios = <&gpiob 8 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_1>;
		};

		user_button_UP: K_UP {
			label = "Key WK_UP";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			zephyr,code = <INPUT_KEY_UP>;
		};
	};

	aliases {
		led0 = &red_led;
		led1 = &blue_led;
		sw0 = &user_button_UP;
		sdhc0 = &sdhc;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <336>;
	div-p = <2>;
	div-q = <7>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};


&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&timers2 {
	status = "okay";

	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pa0>;
		pinctrl-names = "default";
	};
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
	         <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};

&can1 {
	pinctrl-0 = <&can1_rx_pd0 &can1_tx_pd1>;
	pinctrl-names = "default";
	status = "disabled";
};

&can2 {
	pinctrl-0 = <&can2_rx_pb12 &can2_tx_pb13>;
	pinctrl-names = "default";
	status = "okay";
};

// &sdmmc1 {
// 	status = "okay";
// 	pinctrl-0 = <&sdio_d0_pc8 &sdio_d1_pc9
// 		     &sdio_d2_pc10 &sdio_d3_pc11
// 		     &sdio_ck_pc12 &sdio_cmd_pd2>;
// 	pinctrl-names = "default";
// 	clk-bypass;
// 	// clk-div = <6>;
// 	bus-width = <4>;
// 	cd-gpios = <&gpiof 3 (GPIO_ACTIVE_LOW)>;
// 	dmas = <&dma2 6 4 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH) STM32_DMA_FIFO_FULL>,
// 	       <&dma2 3 4 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH) STM32_DMA_FIFO_FULL>;
// 	dma-names = "tx", "rx";
// 	disk-name = "SD";
// };
sdhc: &sdmmc1 {
	compatible = "st,stm32-sdio";
	pinctrl-0 = <&sdio_d0_pc8 &sdio_d1_pc9
		     &sdio_d2_pc10 &sdio_d3_pc11
		     &sdio_ck_pc12 &sdio_cmd_pd2>;
	pinctrl-names = "default";
	// sdhi-on-gpios = <&gpioj 1 GPIO_ACTIVE_HIGH>;
	reg = <0x40012c00 0x400>;
	clocks = <&rcc STM32_CLOCK(APB2, 11U)>,
			<&rcc STM32_SRC_PLL_Q NO_SEL>;
	resets = <&rctl STM32_RESET(APB2, 11U)>;
	interrupts = <49 0>;
	min-bus-freq = <DT_FREQ_K(400)>;
	max-bus-freq = <DT_FREQ_M(48)>;
	clk-div = <46>;
	// cd-gpios = <&gpiod 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
	// hw-flow-control;
	bus-width = <4>;
	status = "okay";
	// sdmmc {
	// 	compatible = "zephyr,sdmmc-disk";
	// 	disk-name = "SD";
	// 	status = "okay";
	// };

};
&dma2 {
	status = "okay";
};

&spi2 {
	pinctrl-0 = <&spi2_sck_pb13 &spi2_miso_pc2 &spi2_mosi_pc3>;
	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	status = "okay";

	w25q64_spi: spi-nor-flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
		size = <DT_SIZE_M(64)>; /* 64 Mbits */
		status = "okay";
		jedec-id = [ef 40 17];
		has-dpd;
		t-enter-dpd = <3500>;
		t-exit-dpd = <3500>;
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			storage_partition: partition@0 {
				label = "storage";
				reg = <0x00000000 DT_SIZE_M(8)>;
			};
		};
	};
};